/lib
/steamflow/__pycache__
/asmr/
/__pycache__
/tests/__pycache__
/reels/
*.bundle
*.torrent
*.har
steam_switch_worker.log
steam_wishlist_worker.log
cache_download_progress.json
/cache_app_details/

/tools
/app_details_cache
*.log
wishlist.json
1.txt
